.made-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media only screen and (min-width: 1168px) {
  .made-wrapper {
    flex-direction: row;
  }
}
.made-left-side {
  width: 100%;
  max-width: 600px;
  border-radius: 16px;
  overflow: hidden;
}

.made-ill {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.made-right-side {
  max-width: 600px;

  padding: 32px;
  border-radius: 15px;
  background: #fff;
}
@media only screen and (min-width: 1168px) {
  .made-right-side {
    max-width: 516px;
  }
}
.made-caption {
  max-width: 350px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}
@media only screen and (min-width: 768px) {
  .made-caption {
    margin-bottom: 28px;
  }
}
.made-item:not(:last-child) {
  margin-bottom: 18px;
}
@media only screen and (min-width: 1168px) {
  .made-item:not(:last-child) {
    margin-bottom: 24px;
  }
}
.made-item {
  display: flex;
  gap: 8px;
}
.made-item::before {
  content: '';
  flex-shrink: 0;

  display: inline-block;
  width: 8px;
  height: 8px;
  margin-top: 5px;

  border-radius: 50%;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
}
